@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GGfont_STRIVE';
  src: url('/strive/GGfont_STRIVE.woff2') format('woff2'),
      url('/strive/GGfont_STRIVE.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

[nextjs-portal] {
  display: none !important;
}

.timeline_stack_square--startup {
  background-color: #d3ae4a;
}

.timeline_stack_square--hitting {
  background-color: #d36a4a;
}

.timeline_stack_square--recover {
  background-color: #eb3ca8;
}

.timeline_stack_square--hitStun {
  background-color: #ff1010;
}

.article h1,
.article h2,
.article h3 {
  margin-bottom: theme(spacing.2);
}

.article h1 {
  font-family: GGfont_STRIVE, theme('fontFamily.sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
}

.article h2 {
  font-size: theme(fontSize.2xl);
}

.article h3 {
  font-size: theme(fontSize.xl);
}

.article section {
  margin-bottom: theme(spacing.10);
}

.article img {
  height: auto;
  width: 100%;
}
.article p,
.article span {
  margin-bottom: theme(spacing.2);
}

.article ul {
  list-style: unset;
  margin-bottom: theme(spacing.2);
  padding-left: theme(spacing.4);
}
.article li {
  margin-bottom: theme(spacing.2);
}